body {
  background-color: #252525;
}

.main {
  color: #ffffff;
}

.footer {
  background-color: #252525;
}

.button {
  background-color: #313131;
  color: #ffffff;
}

.footer__text {
  color: #ffffff;
}

.calculator {
  border: 10px solid #828282;
  display: flex;
}

.calculator__top {
  background-color: #828282;
}

.calculator__app {
  border: 10px solid #333333;
}

.try-me__arrow {
  fill: #FFFFFF;
}
