body {
  background-color: #252525;
}

.main {
  color: #ffffff;
}

.button {
  background-color: #313131;
  color: #ffffff;
}

.footer__text {
  color: #ffffff;
}

.calculator {
  border: 10px solid #828282;
  display: flex;
}

.calculator__top {
  background-color: #828282;
}

.calculator__app {
  border: 10px solid #333333;
}

.try-me__arrow {
  fill: #ffffff;
}

/* Logo styles */
#logo .text,
.goggles,
.no-glare,
.ava-outline {
  fill: white;
}

#logo .ava {
  fill: #221c35;
}

#logo .goggles,
.glare {
  fill: #f35a69;
}

#logo .glare {
  transition: transform 0.4s;
  transform: translateX(-30%);
}

#logo:hover .glare {
  transform: translateX(30%);
}
