body {
    background-color: #252525;
}

.main {
  color: #FFFFFF;
}

.footer {
  background-color: #252525;
}

.button {
    background-color: #313131;
    color: #FFFFFF;
}

.footer__text {
    color: #FFFFFF;
}

.calculator {
	border: 10px solid #828282;
}

.calculator__top {
	background-color: #828282;
}

.calculator__app {
	border: 10px solid #333333;
}
